bibtexparser==1.4.4
casregnum==1.1.2
certifi==2026.5.20
charset-normalizer==3.4.7
chemformula==1.5.1
cif2xrd==1.0.3
colorama==0.4.6
contourpy==1.3.3
cycler==0.12.1
flexcache==0.3
flexparser==0.4
fonttools==4.63.0
fos_site @ file:///C:/Users/travi/FoSpy/mkdocs/fos_site
-e git+https://github.com/errthumt/FoSpy.git@0232ac3c8eb59861689ff8bfbb10046bcd4dd1d8#egg=FoSpy
idna==3.18
joblib==1.5.3
kiwisolver==1.5.0
linkify-it-py==2.1.0
lxml==6.1.1
markdown-it-py==4.2.0
matplotlib==3.11.0
mdformat==1.0.0
mdurl==0.1.2
monty==2026.5.18
mpmath==1.3.0
narwhals==2.22.1
networkx==3.6.1
numpy==2.4.6
orjson==3.11.9
packaging==26.2
palettable==3.3.3
pandas==3.0.3
pillow==12.2.0
Pint==0.25.3
platformdirs==4.10.0
plotly==6.8.0
prompt_toolkit==3.0.52
pybaselines==1.2.1
pymatgen==2026.5.4
pymatgen-core==2026.5.18
pyparsing==3.3.2
pyqtgraph==0.14.0
PySide6==6.11.1
PySide6_Addons==6.11.1
PySide6_Essentials==6.11.1
python-dateutil==2.9.0.post0
PyYAML==6.0.3
questionary==2.1.1
requests==2.34.2
ruamel.yaml==0.19.1
scipy==1.17.1
shiboken6==6.11.1
six==1.17.0
spglib==2.7.0
sympy==1.14.0
tabulate==0.10.0
tqdm==4.68.2
typing_extensions==4.15.0
tzdata==2026.2
uc-micro-py==2.0.0
uncertainties==3.2.3
urllib3==2.7.0
wcwidth==0.8.1
